<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="landlark.entity.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="landlark.entity.model.Message">
    <id column="req_id" jdbcType="BIGINT" property="reqId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message
    where req_id = #{reqId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="landlark.entity.model.Message">
    insert into message (req_id, content, create_datetime
      )
    values (#{reqId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="landlark.entity.model.Message">
    update message
    set content = #{content,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
    where req_id = #{reqId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select req_id, content, create_datetime
    from message
    where req_id = #{reqId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select req_id, content, create_datetime
    from message
  </select>
  <resultMap id="BaseResultMap" type="landlark.entity.model.Message">
    <id column="req_id" jdbcType="BIGINT" property="reqId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message
    where req_id = #{reqId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="landlark.entity.model.Message">
    insert into message (req_id, content, create_datetime
      )
    values (#{reqId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="landlark.entity.model.Message">
    update message
    set content = #{content,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
    where req_id = #{reqId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select req_id, content, create_datetime
    from message
    where req_id = #{reqId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select req_id, content, create_datetime
    from message
  </select>
</mapper>